apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
  - ssh:
      address: ${master_public_ip}
      user: ubuntu
      port: 22
      keyPath: null
    role: controller
    privateAddress: ${master_private_ip}
  - ssh:
      address: ${ worker_public_ip }
      user: ubuntu
      port: 22
      keyPath: null
    role: worker
    privateAddress: ${ worker_private_ip }
  k0s:
    version: 1.27.2+k0s.0
    dynamicConfig: true
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: martaneta-k0s-cluster
      spec:
        extensions:
          helm:
            repositories:
            - name: argo
              url: https://argoproj.github.io/argo-helm
            charts:
            - name: argocd
              chartname: charts/argo-cd
              version: "5.35.0"
              namespace: argocd
              values: ""