apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
  - ssh:
      address: ${public_ip}
      user: ubuntu
      port: 22
      keyPath: null
    role: controller+worker
    privateAddress: ${private_ip}
  k0s:
    version: 1.27.2+k0s.0
    dynamicConfig: false
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: martaneta-k0s-cluster
      spec:
        extensions:
          helm:
            repositories:
            - name: argo
              url: https://argoproj.github.io/argo-helm
            charts:
            - name: argo-cd
              chartname: argo/argo-cd
              version: "5.35.0"
              namespace: argocd
              values: |
                redis-ha:
                  enabled: false

                controller:
                  replicas: 1

                server:
                  replicas: 1

                repoServer:
                  replicas: 1

                applicationSet:
                  replicaCount: 1