apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
  - ssh:
      address: ${public_ip}
      user: ubuntu
      port: 22
      keyPath: null
    role: controller+worker
    noTaints: true
    privateAddress: ${private_ip}
  k0s:
    version: ${k0s_version}
    dynamicConfig: false
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: k0s-cluster
      spec:
        telemetry:
          enabled: false
        %{ if enable_argocd || enable_nginx }
        extensions:
          storage:
            type: openebs_local_storage
          helm:
            repositories:
            %{ if enable_argocd }
            - name: argo
              url: https://argoproj.github.io/argo-helm
            %{ endif }
            %{ if enable_nginx }
            - name: ingress-nginx
              url: https://kubernetes.github.io/ingress-nginx
            %{ endif }
            charts:
            %{ if enable_nginx }
            - name: nginx-ingress
              chartname: ingress-nginx/ingress-nginx
              version: "4.7.1"
              namespace: ingress-nginx
              order: 1
              values: |
                controller:
                  service:
                    externalIPs:
                      - ${private_ip}
                  publishService:
                    enabled: false
            %{ endif }
            %{ if enable_argocd }
            - name: argo-cd
              chartname: argo/argo-cd
              version: "5.43.4"
              namespace: argocd
              order: 2
              values: |
                ${indent(16, argocd_values)}
            %{ endif }
            %{ if enable_argocd && enable_argocd_apps }
            - name: argocd-apps
              chartname: argo/argocd-apps
              version: "1.4.1"
              namespace: argocd
              order: 3
              values: |
                applications:
                  - name: manifests
                    namespace: argocd
                    finalizers:
                    - resources-finalizer.argocd.argoproj.io
                    project: default
                    source:
                      repoURL: ${manifests_source.repo_url}
                      targetRevision: ${manifests_source.target_revision}
                      path: ${manifests_source.path}
                      directory:
                        recurse: ${manifests_source.directory_recurse}
                    destination:
                      server: https://kubernetes.default.svc
                      namespace: argocd
            %{ endif }
        %{ endif }
